@font-face {
    font-family: IranYekan;
    src: url(../fonts/iranyekan.woff);
}

body {
    font-family: 'IranYekan';
    direction: rtl;
    text-align: right;
}

table {
    width: 100%;
}

table,
th,
td {
    border: 1px solid #6B7280;
}

th,
td {
    padding: 10px;
}

tbody>tr:nth-child(even) {
    background-color: #F3F4F6;
}